# PHPStorm
/.idea

# configuration
config.php

# fichiers inutiles
/datas/coolcolden.mwb.bak
/datas/coolcoldenV2.mwb.bak

# Données critiques
/datas/coolcolden-structure-datas*

# Bibliothèques
/vendor
