# PHPStorm
/.idea

# configuration
config.php

# fichiers inutiles
/datas/coolcolden.mwb.bak
/datas/coolcoldenV2.mwb.bak

# Données critiques
/datas/coolcolden-structure-datas.sql
/datas/coolcolden-structure-datasV2.sql
/datas/coolcolden-structure-datasV3.sql
/datas/coolcolden-structure-datasV4.sql

